# ETL Chain that
# 1. fetches local Natura2000 Features from the national Dutch WFS
# 2. transforms these Features to INSPIRE Annex I ProtectedSites(Full) Features
# 3. Publishes the INSPIRE PS Features to a local file or WFS-T

[etl]
chains = input_wfs|output_std

[input_wfs]
class = inputs.httpinput.HttpInput
url = http://geodata.nationaalgeoregister.nl/natura2000/wfs
parameters = {
		'service' : 'WFS',
		'version' : '1.1.0',
		'request' : 'GetFeature',
        'srsName' : 'EPSG:28992',
        'outputFormat' : 'text/xml; subtype=gml/2.1.2',
		'typename' : 'natura2000'
       }

[output_std]
class = outputs.standardoutput.StandardOutput
