# Testing via nose2, see https://nose2.readthedocs.io/
#
# $ pip3 install nose2
# or
# $ pip3 install -r requirements-dev.txt)
# $ nose2
#
# nose2 automatically uses this file.
[unittest]
start-dir=tests
nocapture=1
verbosity=2
