# EXAMPLE ETL CONFIGURATION (generate GML file extracts from a deegree blobstore)

# DEFINE THE ETL AS A ONE OR MORE CHAINS (PIPELINE) OF COMPONENTS
[etl]
chains = input_deegree_blobstore|output_file

# Get DOM document from GML blobs in deegree blobstore tables
[input_deegree_blobstore]
class = inputs.deegreeinput.DeegreeBlobstoreInput
database = pdok
schema = inspire_ad
host     = localhost
user     = pdok_owner
password = pdok_owner
max_features_per_doc = 10000
sql = SELECT binary_object from gml_objects where ft_type = 12 limit 5;
port = 5432
start_container = <?xml version="1.0" encoding="UTF-8"?>
	<base:SpatialDataSet
					 xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2"
                     xmlns:AD="urn:x-inspire:specification:gmlas:Addresses:3.0"
                     xmlns:GN="urn:x-inspire:specification:gmlas:GeographicalNames:3.0"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xmlns:gml="http://www.opengis.net/gml/3.2"
                     xsi:schemaLocation="urn:x-inspire:specification:gmlas:BaseTypes:3.2 http://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd
                     urn:x-inspire:specification:gmlas:Addresses:3.0 http://inspire.ec.europa.eu/schemas/ad/3.0/Addresses.xsd
                     urn:x-inspire:specification:gmlas:GeographicalNames:3.0 http://inspire.ec.europa.eu/schemas/gn/3.0/GeographicalNames.xsd"
                     gml:id="NL.KAD.BAG.AD">
    <base:identifier>
        <base:Identifier>
            <base:localId>0</base:localId>
            <base:namespace>NL.KAD.BAG.AD</base:namespace>
        </base:Identifier>
    </base:identifier>
    <base:metadata xsi:nil="true"/>
end_container = </base:SpatialDataSet>
start_feature_tag = <base:member>
end_feature_tag = </base:member>

# Output: print DOM document to stdout
[output_std]
class = output.Output

# Output: print DOM document to file
[output_file]
class = outputs.fileoutput.FileOutput
file_path = inspire-ad-spatialds.gml



