# Transform input xml to valid GML file using an XSLT filter.
# Note the symbolic input, xsl and output files.
# These can be substituted on the command line via the -a option
# like stetl -c etl.cfg -a "in_xml=input/cities.xml in_xsl=cities2gml.xsl out_xml=output/gmlcities.gml"
#
# This makes an ETL chain highly reusable.

[etl]
chains = input_xml_file|transformer_xslt|output_file

[input_xml_file]
class = inputs.fileinput.XmlFileInput
file_path = {in_xml}

[transformer_xslt]
class = filters.xsltfilter.XsltFilter
script = {in_xsl}

[output_file]
class = outputs.fileoutput.FileOutput
file_path = {out_xml}

