# Transform input xml to a GML file use a validator filter for schema validation.

[etl]
chains = input_xml_file|transformer_xslt|xml_schema_validator|output_file

[input_xml_file]
class = inputs.fileinput.XmlFileInput
file_path = input/cities.xml

[transformer_xslt]
class = filters.xsltfilter.XsltFilter
script = cities2gml.xsl

# Validator for XML
[xml_schema_validator]
class = filters.xmlvalidator.XmlSchemaValidator
xsd = gmlcities.xsd
enabled = True

[output_file]
class = outputs.fileoutput.FileOutput
file_path = output/gmlcities.gml

