# Trivial example of an ETL Chain with user-defined component.

[etl]
chains = input_xml_file|my_filter|output_std

[input_xml_file]
class = inputs.fileinput.XmlFileInput
file_path = input/cities.xml

# My custom component
[my_filter]
class = my.myfilter.MyFilter

[output_std]
class = outputs.standardoutput.StandardXmlOutput
