# Trivial example of an ETL Chain that just copies a file to standard output.

[etl]
chains = input_wfs|output_std

[input_wfs]
class = inputs.httpinput.HttpInput
url = http://suite.opengeo.org/geoserver/ows
parameters = {
		'service' : 'WFS',
		'version' : '1.1.0',
		'request' : 'GetFeature',
        'srsName' : 'EPSG:4326',
        'outputFormat' : 'text/xml; subtype=gml/2.1.2',
		'typename' : 'states',
        'filter' :'<ogc:Filter xmlns:ogc="http://www.opengis.net/ogc"><ogc:Intersects><ogc:PropertyName/><gml:Polygon xmlns:gml="http://www.opengis.net/gml" srsName="EPSG:4326"><gml:exterior><gml:LinearRing><gml:posList>-101.8671875 32.177734375 -101.8671875 39.6923828125 -91.935546875 39.6923828125 -91.935546875 32.177734375 -101.8671875 32.177734375</gml:posList></gml:LinearRing></gml:exterior></gml:Polygon></ogc:Intersects></ogc:Filter>'

       }


[output_std]
class = outputs.standardoutput.StandardOutput
